{% extends 'layout.html' %}

{% block content %}



<article>
    <div class="container-article">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, in doloremque maxime deserunt nobis voluptatem dolores veniam iusto quibusdam consectetur pariatur expedita debitis quos accusantium? Sequi atque fuga optio sint nulla. Aliquid deleniti nemo nam, saepe impedit sit molestiae consequuntur provident, nesciunt dignissimos pariatur minima, recusandae ab exercitationem sed? Fuga, inventore? Atque repudiandae officia iste inventore omnis? Iusto dolor perspiciatis hic nisi sapiente quos facilis excepturi labore, sint expedita molestiae, atque et quod aliquam nesciunt adipisci? Eligendi quas, impedit dolor id, nisi minima qui, dolorum sequi molestias in enim consequuntur optio repudiandae odio dolorem distinctio. Quos optio voluptatem blanditiis nisi!</p>
        </div>
    </div>
</article>



{% endblock %}